__pycache__

.vscode

bertax_pytorch

*.pth
*.npy
*.pt
*.bin
*.fa
*.log
*.zip
*.tar.gz
output
visualize
contrastive_output/contrast/non_similar/events.out.tfevents.1732091316.task-35406-zhoujr-fusemodeltrain-master-0.2827.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732093079.task-35406-zhoujr-fusemodeltrain-master-0.3276.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732093440.task-35406-zhoujr-fusemodeltrain-master-0.3684.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732093750.task-35406-zhoujr-fusemodeltrain-master-0.4004.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732094139.task-35406-zhoujr-fusemodeltrain-master-0.4731.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732094243.task-35406-zhoujr-fusemodeltrain-master-0.5094.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732094359.task-35406-zhoujr-fusemodeltrain-master-0.5407.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732094509.task-35406-zhoujr-fusemodeltrain-master-0.5913.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732095230.task-35406-zhoujr-fusemodeltrain-master-0.6290.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732105258.task-35406-zhoujr-fusemodeltrain-master-0.6665.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732105524.task-35406-zhoujr-fusemodeltrain-master-0.7356.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732106672.task-35406-zhoujr-fusemodeltrain-master-0.8394.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732152783.task-35589-zhoujr-fusemodeltrain-master-0.1740.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732155368.task-35589-zhoujr-fusemodeltrain-master-0.2601.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732156553.task-35589-zhoujr-fusemodeltrain-master-0.3440.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732170281.task-35589-zhoujr-fusemodeltrain-master-0.4019.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732170854.task-35589-zhoujr-fusemodeltrain-master-0.4438.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732171056.task-35589-zhoujr-fusemodeltrain-master-0.4890.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732171195.task-35589-zhoujr-fusemodeltrain-master-0.5268.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732171345.task-35589-zhoujr-fusemodeltrain-master-0.5658.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732171557.task-35589-zhoujr-fusemodeltrain-master-0.6137.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732172073.task-35589-zhoujr-fusemodeltrain-master-0.6981.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732172626.task-35589-zhoujr-fusemodeltrain-master-0.7472.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732173205.task-35589-zhoujr-fusemodeltrain-master-0.8139.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732173547.task-35589-zhoujr-fusemodeltrain-master-0.8651.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732175246.task-35589-zhoujr-fusemodeltrain-master-0.9251.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732175712.task-35589-zhoujr-fusemodeltrain-master-0.9702.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732175916.task-35589-zhoujr-fusemodeltrain-master-0.10084.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732178204.task-35589-zhoujr-fusemodeltrain-master-0.10614.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732178946.task-35589-zhoujr-fusemodeltrain-master-0.11045.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732179175.task-35589-zhoujr-fusemodeltrain-master-0.11419.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732179617.task-35589-zhoujr-fusemodeltrain-master-0.11808.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732180103.task-35589-zhoujr-fusemodeltrain-master-0.12186.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732180545.task-35589-zhoujr-fusemodeltrain-master-0.12589.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732180711.task-35589-zhoujr-fusemodeltrain-master-0.12947.0
contrastive_output/contrast/non_similar/events.out.tfevents.1732537334.task-36084-zhoujr-fusemodeltrain-master-0.11559.0
contrastive_output/contrast/train_vit_train_bert_lr1e-3/similar/events.out.tfevents.1732107615.task-35521-zhoujr-fusemodeltrain-master-0.24.0
contrastive_output/contrast/train_vit_train_bert_lr1e-3/similar/log.txt
contrastive_output/contrast/train_vit_train_bert_lr1e-4/non_similar/events.out.tfevents.1732160526.task-35616-zhoujr-fusemodeltrain-master-0.126.0
contrastive_output/contrast/train_vit_train_bert_lr1e-4/non_similar/events.out.tfevents.1732169952.task-35625-zhoujr-fusemodeltrain-master-0.125.0
contrastive_output/contrast/train_vit_train_bert_lr1e-4/similar/events.out.tfevents.1732152391.task-35588-zhoujr-fusemodeltrain-master-0.24.0
contrastive_output/contrast/train_vit_train_bert_lr1e-4/similar/events.out.tfevents.1732159966.task-35616-zhoujr-fusemodeltrain-master-0.24.0
contrastive_output/contrast/train_vit_train_bert_lr1e-4/similar/events.out.tfevents.1732169842.task-35625-zhoujr-fusemodeltrain-master-0.24.0
contrastive_output/contrast/train_vit_train_bert_lr1e-4/similar/events.out.tfevents.1732171821.task-35633-zhoujr-fusemodeltrain-master-0.24.0
contrastive_output/contrast/train_vit_train_bert_lr1e-4/similar/events.out.tfevents.1732181093.task-35679-zhoujr-fusemodeltrain-master-0.24.0
contrastive_output/contrast/train_vit_train_bert_lr1e-4/similar/log.txt
contrastive_output/freeze_vit_freeze_bert_lr1e-4/final/events.out.tfevents.1732234144.task-35755-zhoujr-fusemodeltrain-master-0.688.0
contrastive_output/freeze_vit_freeze_bert_lr1e-4/final/log.txt
contrastive_output/freeze_vit_freeze_bert_lr1e-4/non_similar/events.out.tfevents.1732229747.task-35755-zhoujr-fusemodeltrain-master-0.522.0
contrastive_output/freeze_vit_freeze_bert_lr1e-4/non_similar/log.txt
contrastive_output/freeze_vit_freeze_bert_lr1e-4/similar/events.out.tfevents.1732225337.task-35755-zhoujr-fusemodeltrain-master-0.356.0
contrastive_output/freeze_vit_freeze_bert_lr1e-4/similar/log.txt
contrastive_output/freeze_vit_freeze_bert_lr1e-4-cls/final/events.out.tfevents.1732504517.task-35861-zhoujr-fusemodeltrain-master-0.374.0
contrastive_output/freeze_vit_freeze_bert_lr1e-4-cls/final/events.out.tfevents.1732644199.task-36396-zhoujr-fusemodeltrain-master-0.372.0
contrastive_output/freeze_vit_freeze_bert_lr1e-4-cls/final/log.txt
contrastive_output/freeze_vit_freeze_bert_lr1e-4-cls/non_similar/events.out.tfevents.1732472097.task-35861-zhoujr-fusemodeltrain-master-0.304.0
contrastive_output/freeze_vit_freeze_bert_lr1e-4-cls/non_similar/events.out.tfevents.1732642459.task-36396-zhoujr-fusemodeltrain-master-0.302.0
contrastive_output/freeze_vit_freeze_bert_lr1e-4-cls/non_similar/log.txt
contrastive_output/freeze_vit_freeze_bert_lr1e-4-cls/similar/events.out.tfevents.1732434124.task-35861-zhoujr-fusemodeltrain-master-0.234.0
contrastive_output/freeze_vit_freeze_bert_lr1e-4-cls/similar/events.out.tfevents.1732640777.task-36396-zhoujr-fusemodeltrain-master-0.232.0
contrastive_output/freeze_vit_freeze_bert_lr1e-4-cls/similar/log.txt
contrastive_output/train_vit_freeze_bert_lr1e-4/final/events.out.tfevents.1732253661.task-35755-zhoujr-fusemodeltrain-master-0.1186.0
contrastive_output/train_vit_freeze_bert_lr1e-4/final/events.out.tfevents.1732883486.task-36893-zhoujr-fusemodeltrain-master-0.316.0
contrastive_output/train_vit_freeze_bert_lr1e-4/final/events.out.tfevents.1732885962.task-36893-zhoujr-fusemodeltrain-master-0.772.0
contrastive_output/train_vit_freeze_bert_lr1e-4/final/events.out.tfevents.1732890257.task-36893-zhoujr-fusemodeltrain-master-0.1132.0
contrastive_output/train_vit_freeze_bert_lr1e-4/final/events.out.tfevents.1732897163.task-36893-zhoujr-fusemodeltrain-master-0.1588.0
contrastive_output/train_vit_freeze_bert_lr1e-4/final/events.out.tfevents.1732946561.task-36953-zhoujr-fusemodeltrain-master-0.1050.0
contrastive_output/train_vit_freeze_bert_lr1e-4/final/log.txt
contrastive_output/train_vit_freeze_bert_lr1e-4/final/retrieval.csv
contrastive_output/train_vit_freeze_bert_lr1e-4/non_similar/events.out.tfevents.1732249029.task-35755-zhoujr-fusemodeltrain-master-0.1020.0
contrastive_output/train_vit_freeze_bert_lr1e-4/non_similar/events.out.tfevents.1732881890.task-36893-zhoujr-fusemodeltrain-master-0.24.0
contrastive_output/train_vit_freeze_bert_lr1e-4/non_similar/events.out.tfevents.1732884762.task-36893-zhoujr-fusemodeltrain-master-0.436.0
contrastive_output/train_vit_freeze_bert_lr1e-4/non_similar/events.out.tfevents.1732886833.task-36893-zhoujr-fusemodeltrain-master-0.892.0
contrastive_output/train_vit_freeze_bert_lr1e-4/non_similar/events.out.tfevents.1732894037.task-36893-zhoujr-fusemodeltrain-master-0.1252.0
contrastive_output/train_vit_freeze_bert_lr1e-4/non_similar/events.out.tfevents.1732942438.task-36953-zhoujr-fusemodeltrain-master-0.714.0
contrastive_output/train_vit_freeze_bert_lr1e-4/non_similar/log.txt
contrastive_output/train_vit_freeze_bert_lr1e-4/non_similar/retrieval.csv
contrastive_output/train_vit_freeze_bert_lr1e-4/similar/events.out.tfevents.1732244387.task-35755-zhoujr-fusemodeltrain-master-0.854.0
contrastive_output/train_vit_freeze_bert_lr1e-4/similar/events.out.tfevents.1732882771.task-36893-zhoujr-fusemodeltrain-master-0.192.0
contrastive_output/train_vit_freeze_bert_lr1e-4/similar/events.out.tfevents.1732885458.task-36893-zhoujr-fusemodeltrain-master-0.604.0
contrastive_output/train_vit_freeze_bert_lr1e-4/similar/events.out.tfevents.1732888499.task-36893-zhoujr-fusemodeltrain-master-0.1012.0
contrastive_output/train_vit_freeze_bert_lr1e-4/similar/events.out.tfevents.1732895462.task-36893-zhoujr-fusemodeltrain-master-0.1420.0
contrastive_output/train_vit_freeze_bert_lr1e-4/similar/events.out.tfevents.1732937346.task-36952-zhoujr-fusemodeltrain-master-0.1897.0
contrastive_output/train_vit_freeze_bert_lr1e-4/similar/events.out.tfevents.1732938133.task-36952-zhoujr-fusemodeltrain-master-0.2865.0
contrastive_output/train_vit_freeze_bert_lr1e-4/similar/events.out.tfevents.1732944330.task-36953-zhoujr-fusemodeltrain-master-0.882.0
contrastive_output/train_vit_freeze_bert_lr1e-4/similar/log.txt
contrastive_output/train_vit_freeze_bert_lr1e-4/similar/retrieval.csv
contrastive_output/train_vit_freeze_bert_lr1e-4-cls/final/events.out.tfevents.1732335506.task-35858-zhoujr-fusemodeltrain-master-0.164.0
contrastive_output/train_vit_freeze_bert_lr1e-4-cls/final/log.txt
contrastive_output/train_vit_freeze_bert_lr1e-4-cls/non_similar/events.out.tfevents.1732303268.task-35858-zhoujr-fusemodeltrain-master-0.94.0
contrastive_output/train_vit_freeze_bert_lr1e-4-cls/non_similar/log.txt
contrastive_output/train_vit_freeze_bert_lr1e-4-cls/similar/events.out.tfevents.1732501770.task-35854-zhoujr-fusemodeltrain-master-0.24.0
contrastive_output/train_vit_freeze_bert_lr1e-4-cls/similar/log.txt
contrastive_output/train_vit_train_bert_lr1e-4/final/events.out.tfevents.1732209096.task-35755-zhoujr-fusemodeltrain-master-0.190.0
contrastive_output/train_vit_train_bert_lr1e-4/final/log.txt
contrastive_output/train_vit_train_bert_lr1e-4/non_similar/events.out.tfevents.1732201942.task-35755-zhoujr-fusemodeltrain-master-0.24.0
contrastive_output/train_vit_train_bert_lr1e-4/non_similar/log.txt
contrastive_output/train_vit_train_bert_lr1e-4/similar/events.out.tfevents.1732191223.task-35701-zhoujr-fusemodeltrain-master-0.24.0
contrastive_output/train_vit_train_bert_lr1e-4/similar/log.txt
contrastive_output/train_vit_train_bert_lr1e-4-cls/final/events.out.tfevents.1732351743.task-35861-zhoujr-fusemodeltrain-master-0.164.0
contrastive_output/train_vit_train_bert_lr1e-4-cls/final/events.out.tfevents.1732637099.task-36396-zhoujr-fusemodeltrain-master-0.164.0
contrastive_output/train_vit_train_bert_lr1e-4-cls/final/log.txt
contrastive_output/train_vit_train_bert_lr1e-4-cls/non_similar/events.out.tfevents.1732319441.task-35861-zhoujr-fusemodeltrain-master-0.94.0
contrastive_output/train_vit_train_bert_lr1e-4-cls/non_similar/events.out.tfevents.1732635343.task-36396-zhoujr-fusemodeltrain-master-0.94.0
contrastive_output/train_vit_train_bert_lr1e-4-cls/non_similar/log.txt
contrastive_output/train_vit_train_bert_lr1e-4-cls/similar/events.out.tfevents.1732280733.task-35861-zhoujr-fusemodeltrain-master-0.24.0
contrastive_output/train_vit_train_bert_lr1e-4-cls/similar/events.out.tfevents.1732633649.task-36396-zhoujr-fusemodeltrain-master-0.24.0
contrastive_output/train_vit_train_bert_lr1e-4-cls/similar/log.txt
